@{
    ViewBag.Title = "Sean McAdams Portfolio";
}

@section scripts
{
    <script type="text/javascript" src="~/js/Home.js"></script>
}


<h2 class="text-danger text-uppercase">Sean's Portfolio Website</h2>
<span>Very basic MVC 6 site built with ASP.NET 5 running on Fedora 21 w/ Docker to try it out.</span>

<div class="list-group h6" data-bind="foreach: PortfolioLinks">
    <div class="list-group-item">
        <span data-bind="text: name + ': '"></span><a target="_blank" data-bind="text: link, href: link"></a>
    </div>
</div>